@model DBApp.Models.QueryModel

<link href="/Content/bootstrap.css" rel="stylesheet" />
<link href="/Content/site.css" rel="stylesheet" />
<script src="/Scripts/modernizr-2.8.3.js"></script>
<script src="/Scripts/jquery-1.12.4.js"></script>
<script src="/Scripts/jquery-3.3.1.js"></script>
<script src="/Scripts/bootstrap.js"></script>
<link href="~/Content/QueryPage.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/dataTables.tableTools.min.css" rel="stylesheet" />
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.tableTools.js"></script>
<script src="~/Scripts/buttons.html5.js"></script>
<script src="~/Scripts/buttons.flash.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/pdfmake.min.js"></script>
<script src="~/Scripts/vfs_fonts.js"></script>
<script src="~/Scripts/buttons.print.min.js"></script>
<script src="~/Scripts/DataTable.ext.buttons.excelHtml5.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>

<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="col-md-12 form-group">
            <p style="text-align: center;font-weight: bold !important; font-size:20px !important">SQL Connect</p>
        </div>
        <div class="col-md-12 form-group paddingleftcss">
            <div class="col-md-6 form-group paddingleftcss">
                <span style="font-weight: bold !important">Select a database</span>
                @Html.DropDownListFor(m => m.SelectedDB, Model.DatabaseItems, new { @class = "js-example-placeholder-single-DB form-control" })
                <label id="DbErrors" class="error">Please select a database</label>
            </div>
            <div class="col-md-6 form-group">
                <button type="button" id="AddNewQuery" class="btn btn-danger pull-right" onclick="location.href='@Url.Action("Login", "Home")'" style="cursor: pointer;">Add new query for admin</button>
            </div>

        </div>
        <div class="panel-group" id="accordion">
            @*<button type="button" class="btn btn-info accordionbutton" data-toggle="collapse" data-target="#dynamicQuery">Dynamic Query</button>*@
            <div class="col-md-12 panel panel-default form-group paddingRightcss paddingleftcss">
                <div class="panel-heading accordionbutton">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#dynamicQuery" style="font-weight: bold !important">Dynamic Query</a>
                    </h4>
                </div>

                <div id="dynamicQuery" class="col-md-12 panel-collapse collapse marginTopCss">
                    <div class="col-md-12 border form-group paddingTopBottom panel-body">
                        <form id="frmDynamicQuery" class="marginTopBottom">
                            <div class="form-row">
                                <div id="select" class="col-md-1 noPaddingRightLeft">
                                    <span>select</span>
                                </div>
                                <div class="col-md-1 noPaddingRightLeft">
                                    <select name="numberOfRecords" id="numberOfRecords">
                                        <option value="">Records</option>
                                        <option value="top 10">top 10</option>
                                        <option value="top 50">top 50</option>
                                        <option value="top 100">top 100</option>
                                        <option value="top 1000">top 1000</option>
                                        <option value="count(1)">count(1)</option>
                                    </select>

                                </div>
                                <div id="from" class="col-md-1 noPaddingRightLeft">
                                    <span>*</span><span> </span>
                                    <span class="addPaddingLeft">from</span>
                                </div>
                                <div class="col-md-2 noPaddingRightLeft">
                                    <input id="tableName" name="tableName" type="text">
                                </div>
                                <div id="where" style="text-align: center;" class="col-md-1">
                                    <span>where</span>
                                </div>
                                <div class="col-md-3 noPaddingRightLeft">
                                    <textarea id="whereCondition" cols="30" rows="3"></textarea>
                                </div>
                                <div id="oderBy" class="col-md-1 noPaddingRightLeft">
                                    <span>order by</span>

                                </div>
                                <div class="col-md-2 noPaddingRightLeft">
                                    <input id="orderByTxt" name="orderByTxt" type="text">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="button" id="SubmitDynamicQuery" class="btn btn-danger btncss">Submit</button>
                        <button type="button" id="ShowBtnDynamic" class="btn btn-danger btncss">View Query</button>
                    </div>
                    <div class="col-md-12 form-group">
                        <textarea id="ShowDynamicQuery" cols="120" rows="4" readonly="readonly"></textarea>
                    </div>
                    <div class="col-md-12 border form-group paddingTopBottom">
                        <form id="frmDynamicColQuery" class="marginTopBottom">
                            <div class="form-row">
                                <div id="selectCol" class="col-md-1 noPaddingRightLeft">
                                    <span>select</span>
                                </div>
                                @*<div id="selectCol" class="col-md-1">
                                    <span>select</span>
                                </div>
                                <div id="topCol" class="col-md-1">
                                    <span>top</span>
                                </div>*@
                                <div class="col-md-1 noPaddingRightLeft">
                                    <select name="numberOfRec" id="numberOfRec">
                                        <option value="">Records</option>
                                        <option value="top 10">top 10</option>
                                        <option value="top 50">top 50</option>
                                        <option value="top 100">top 100</option>
                                        <option value="top 1000">top 1000</option>
                                        <option value="count(1)">count(1)</option>
                                    </select>
                                </div>
                                <div id="fromCol" class="col-md-2 noPaddingRightLeft">
                                    @Html.TextBox("Column1", null, new { @style = "width: 140px" })
                                    <span>from</span>
                                </div>
                                @*<div id="fromCol" class="col-md-1 noPaddingRightLeft">
                                    <span>from</span>
                                </div>*@
                                <div id="whereCol" class="col-md-2 noPaddingRightLeft">
                                    @Html.TextBox("colTableName", null, new { @style = "width: 130px" })
                                    <span>where</span>
                                </div>
                                @*<div id="whereCol" class="col-md-1 noPaddingRightLeft">
                                    <span>where</span>
                                </div>*@
                                <div class="col-md-3 noPaddingRightLeft">
                                    <textarea id="colWhereCondition" cols="33" rows="3"></textarea>
                                </div>
                                <div id="oderByCol" class="col-md-1 noPaddingRightLeft">
                                    <span>order by</span>

                                </div>
                                <div class="col-md-2 noPaddingRightLeft">
                                    <input id="orderByTxtCol" name="orderByTxt" type="text">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="button" id="SubmitDynamicQueryWithCol" class="btn btn-danger btncss">Submit</button>
                        <button type="button" id="ShowBtnDynamicCol" class="btn btn-danger btncss">View Query</button>

                    </div>
                    <div class="col-md-12 form-group">
                        <textarea id="ShowDynamicColQuery" cols="120" rows="4" readonly="readonly"></textarea>
                    </div>
                </div>
            </div>
            @*<button type="button" class="btn btn-info accordionbutton" data-toggle="collapse" data-target="#preApproved">PreApproved Query</button>*@
            <div class="col-md-12 panel panel-default form-group paddingRightcss paddingleftcss">
                <div class="panel-heading accordionbutton">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#preApproved" style="font-weight: bold !important">PreApproved Query</a>
                    </h4>
                </div>

                <div id="preApproved" class="col-md-12 panel-collapse collapse marginTopCss">
                    <div class="col-md-12 border form-group panel-body">
                        <h4>Select Alias</h4>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.DropDownListFor(m => m.SelectedQuery, Model.QueryItems, new { @class = "js-example-placeholder-single form-control" })
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 border form-group">
                        <h4>Actual Query</h4>
                        <form>
                            <div class="form-row">
                                @Html.TextArea("ShowQuery", new { @cols = "100", @rows = "5", @readonly = "readonly" })
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="button" id="SubmitQuery" class="btn btn-danger btncss">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 marginTopCss paddingleftcss">
            <button type="button" id="ClearTable" class="btn btn-danger btncss">Clear Data</button>
        </div>
        <div class="col-md-12 marginTopCss paddingleftcss addResult">

        </div>
        <div class="col-md-12 marginTopCss paddingleftcss">

            <table id="QueryResult"></table>
        </div>
        <div class="col-md-12" id="loadingmessage" style='display:none'></div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#LoadingImage").hide();
        $(".js-example-placeholder-single").select2({
            placeholder: "Select a query",
        });
        $(".js-example-placeholder-single-DB").select2({
            placeholder: "Select a database",
        });
        $("#SubmitDynamicQuery").attr("disabled", true);
        $("#SubmitDynamicQueryWithCol").attr("disabled", true);
        $("#DbErrors").hide();
        $("#frmDynamicQuery").validate({
            rules: {
                numberOfRecords: "required",
                tableName: "required"
            },
            messages: {
                numberOfRecords: "Please select number of records",
                tableName: "Please select table name"
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
        $("#frmDynamicColQuery").validate({
            rules: {
                numberOfRec: "required",
                Column1: "required",
                colTableName: "required"
            },
            messages: {
                numberOfRec: "Please select number of records",
                Column1: "Please select a column",
                colTableName: "Please select table name"
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
    $("#ClearTable").click(function () {
        if ($.fn.DataTable.isDataTable('#QueryResult')) {
            $('#QueryResult').DataTable().destroy();
            $('#QueryResult').empty();
        }
    });
    function getExportFileName() {
        var filename = $("#SelectedQuery :selected").text();
        if (filename == "Select a Query") {
            filename = $("#tableName").val();
            return filename;
        }
        else
            return filename;
    }
    $("#ShowBtnDynamic").click(function () {
        if ($("#frmDynamicQuery").valid()) {
            var wherecodition = $('#whereCondition').val();
            var orderbyText = $('#orderByTxt').val();
            
            if ((wherecodition == '') && (orderbyText == '')) {
                var dynmicQuery = $('#select span').text() + ' ' + $('#top span').text() + ' ' + $('#numberOfRecords').val() + ' ' + $('#star span').text() + ' ' + $('#from span').text() + ' ' + $('#tableName').val();
            }
            else if ((wherecodition == '') && (orderbyText != '')) {
                var dynmicQuery = $('#select span').text() + ' ' + $('#top span').text() + ' ' + $('#numberOfRecords').val() + ' ' + $('#star span').text() + ' ' + $('#from span').text() + ' ' + $('#tableName').val() + ' ' + $('#oderBy span').text() + ' ' + $('#orderByTxt').val();
            }
            else if ((wherecodition != '') && (orderbyText == '')) {
                var dynmicQuery = $('#select span').text() + ' ' + $('#top span').text() + ' ' + $('#numberOfRecords').val() + ' ' + $('#star span').text() + ' ' + $('#from span').text() + ' ' + $('#tableName').val() + ' ' + $('#where span').text() + ' ' + $('#whereCondition').val();
            }
            else {
                var dynmicQuery = $('#select span').text() + ' ' + $('#top span').text() + ' ' + $('#numberOfRecords').val() + ' ' + $('#star span').text() + ' ' + $('#from span').text() + ' ' + $('#tableName').val() + ' ' + $('#where span').text() + ' ' + $('#whereCondition').val() + ' ' + $('#oderBy span').text() + ' ' + $('#orderByTxt').val();
            }
            if ($('#numberOfRecords').val() == "count(1)") {
                dynmicQuery = dynmicQuery.replace(/\*/g, '');
            }
            $("#ShowDynamicQuery").val(dynmicQuery);
            $("#SubmitDynamicQuery").attr("disabled", false);
        }
        
    });
    $("#ShowBtnDynamicCol").click(function () {
        if ($("#frmDynamicColQuery").valid()) {
            var wherecodition = $('#colWhereCondition').val();
            var orderbyTextCol = $('#orderByTxtCol').val();
            if ((wherecodition == '') && (orderbyTextCol == '')) {
                var dynmicColQuery = $('#selectCol span').text() + ' ' + $('#numberOfRec').val() + ' ' + $('#Column1').val() + ' ' + $('#fromCol span').text() + ' ' + $('#colTableName').val();
            }
            else if ((wherecodition == '') && (orderbyTextCol != '')) {
                var dynmicColQuery = $('#selectCol span').text() + ' ' + $('#numberOfRec').val() + ' ' + $('#Column1').val() + ' ' + $('#fromCol span').text() + ' ' + $('#colTableName').val() + ' ' + $('#oderByCol span').text() + ' ' + $('#orderByTxtCol').val();
            }
            else if ((wherecodition != '') && (orderbyTextCol == '')) {
                var dynmicColQuery = $('#selectCol span').text() + ' ' + $('#numberOfRec').val() + ' ' + $('#Column1').val() + ' ' + $('#fromCol span').text() + ' ' + $('#colTableName').val() + ' ' + $('#whereCol span').text() + ' ' + $('#colWhereCondition').val();
            }
            else {
                var dynmicColQuery = $('#select span').text() + ' ' + $('#numberOfRec').val() + ' ' + $('#Column1').val() + ' ' + $('#fromCol span').text() + ' ' + $('#colTableName').val() + ' ' + $('#whereCol span').text() + ' ' + $('#colWhereCondition').val() + ' ' + $('#oderByCol span').text() + ' ' + $('#orderByTxtCol').val();
            }
            if ($('#numberOfRec').val() == "count(1)") {
                dynmicQuery = dynmicQuery.replace(/\*/g, '');
            }
            $("#ShowDynamicColQuery").val(dynmicColQuery);
            $("#SubmitDynamicQueryWithCol").attr("disabled", false);
        }
    });
    function AjaxSuccess(result) {
        if (result.indexOf('ErrorMessage') != -1) {
            alert(result);
            return false;
        }
        else {
            if (result.length == 0) {
                $('.addResult').empty();
                if ($.fn.DataTable.isDataTable('#QueryResult')) {
                    
                    $('#QueryResult').DataTable().destroy();
                    $('#QueryResult').empty();
                    
                } 
                $('.addResult').append("<h4 style='color: red'> No Records found</h4>");
            }
            if (result.length > 0) {
               $('.addResult').empty();
                var h = $("#QueryResult thead th").length
                var a = $.fn.DataTable.isDataTable('#QueryResult');
                if ($.fn.DataTable.isDataTable('#QueryResult')) {
                    $('#QueryResult').DataTable().destroy();
                    $('#QueryResult').empty();
                }
                var Columns = [];
                var TableHeader = "<thead><tr>";
                $.each(result[0], function (key, value) {
                    Columns.push({ "data": key })
                    TableHeader += "<th>" + key + "</th>"
                });
                TableHeader += "</thead></tr>";
                $("#QueryResult").append(TableHeader);
                $("#QueryResult").css('width', '100%');
                var otab = $('#QueryResult').dataTable({
                    "order": [],
                    "scrollX": true,
                    "lengthMenu": [[10, 25, 50, 100, 1000], [10, 25, 50, 100, 1000]],
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ &nbsp;"
                    },
                    "data": result,
                    "columns": Columns,
                    "JQueryUI": true,
                    dom: 'Bfrtip',
                    dom: 'lBfrtip',
                    rowCallback: function (row, data) {
                        $(row).find('td').each(function (i, el) {
                            if ($(this).text().includes('Date')) {
                                const dateValue = new Date(parseInt($(this).text().substr(6)));
                                $(this).text(dateValue.toLocaleDateString());
                            }

                        });
                    },
                    buttons: [
                        {
                            extend: 'excel',
                            className: 'excelButton',
                            title: '',
                            text: 'Download',
                            filename: function () {
                                return getExportFileName();
                            },
                            fnClick: function (nButton, oConfig) {
                                $('#loadingmessage').show();
                            },
                            fnComplete: function (nButton, oConfig) {
                                $('#loadingmessage').hide();
                            }
                        }
                    ]
                });
            }
        }
    }
    $("#SubmitDynamicQuery").click(function (e) {
        if ($.fn.DataTable.isDataTable('#QueryResult')) {
            $('#QueryResult').DataTable().destroy();
            $('#QueryResult').empty();
        }
        if ($('#SelectedDB').val() == "") {
            $("#DbErrors").show();
            e.preventDefault();
            e.stopPropagation();
            return false;
        }
        $.ajax({
            url: "/Home/ExecuteQuery",
            data: { query: $("#ShowDynamicQuery").val(), database: $('#SelectedDB').val() },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('status:' + XMLHttpRequest.status + ', status text: ' + XMLHttpRequest.statusText);
            },
            success: function (result) {
                
                AjaxSuccess(result)
            },
            timeout: 300000
        });
        $("#SubmitDynamicQuery").attr("disabled", true);
    });
    $("#SubmitDynamicQueryWithCol").click(function (e) {
        if ($.fn.DataTable.isDataTable('#QueryResult')) {
            $('#QueryResult').DataTable().destroy();
            $('#QueryResult').empty();
        }
        if ($('#SelectedDB').val() == "") {
            $("#DbErrors").show();
            e.preventDefault();
            e.stopPropagation();
            return false;
        }
        
        $.ajax({
            url: "/Home/ExecuteQuery",
            data: { query: $("#ShowDynamicColQuery").val(), database: $('#SelectedDB').val() },
            success: function (result) {
                AjaxSuccess(result);
            },
            timeout: 300000
        });
        $("#SubmitDynamicQueryWithCol").attr("disabled", true);
    });
    $("#SelectedQuery").change(function () {
        var selectedvalue = $(this).val();
        $("#ShowQuery").val(selectedvalue);
    });
    $("#SelectedDB").change(function () {
        $("#DbErrors").hide();
    });
    $("#SubmitQuery").click(function (e) {
        if ($.fn.DataTable.isDataTable('#QueryResult')) {
            $('#QueryResult').DataTable().destroy();
            $('#QueryResult').empty();
        }
        if ($('#SelectedDB').val() == "") {
            $("#DbErrors").show();
            e.preventDefault();
            e.stopPropagation();
            return false;
        }
        $.ajax({
            url: "/Home/ExecuteQuery",
            data: { query: $("#ShowQuery").val(), database: $('#SelectedDB').val() },
            dataType: "json",
            success: function (result) {
                if (result == "Please select the query") {
                    alert("Please select a Query");
                    return false;
                }
                AjaxSuccess(result);
            },
            timeout: 300000
        });
    });
    $(document).ajaxStart(function () {
        $('#loadingmessage').show();
    })
    $(document).ajaxStop(function () {
        $('#loadingmessage').hide();
    });

</script>